body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    position: relative;
    z-index: 0; 
}

#search-bar {
    width: 100%;
    font-size: 1.25em;
}

#data-display {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#data-display > div {
    width: 502%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
    border: solid;
    border-width: 2px;
    border-radius: 4px;
    font-size: 1.25em;
    padding: 1.25em;
}

#autocomplete-container {
    width: 25%;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: solid;
    border-width: 2px;
    display: none;
}

#autocomplete-list {
    list-style: none;
    font-size: 1.25em;
}

#search-bar-container {
    width: 25%;
}